<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
  </configSections>
  <connectionStrings>
    <add name="Administrador.Properties.Settings.hotelConnectionString2"
      connectionString="Data Source=localhost\SQLEXPRESS2008;Initial Catalog=hotel;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>